$purple: rgb(201, 52, 235);
$gray: rgb(35, 32, 36);
body {
    background-color: $gray;
}

img {
    width: 600px;
}

.btn {
    border-color: white;
    padding: 15px 32px;
    background-color: $gray;
    color: white;
    transition: 0.5s;
}

.btn:hover {
    border-color: $purple;
    padding: 15px 32px;
    background-color: $gray;
    color: $purple;
}

.title {
    color: white;
    font-family: 'Lato', sans-serif;
}

.info {
    color: white;
    font-family: 'Lato', sans-serif;
    width: 600px;
}

#topic {
    color: white;
    font-family: 'Lato', sans-serif;
    width: 600px;
    height: 300px;
    border-color: white;
    border-style: solid;
    font-size: 50px;
}

.foot {
    color: white;
    font-family: 'Lato', sans-serif;
}

a, p {
    color: white;
    font-family: 'Lato', sans-serif;
}

@media only screen and (max-width: 600px) {
    .info {
        width: 300px;
    }
    #topic {
        width: 300px;
        font-size: 30px;
    }
    img {
        width: 300px;
        height: 50px;
    }
}